.footer
  .container
    .footer-left
      %p
        %span Adress:
        ipsum dolor sit amet, consectetur adipiscing - elit.
    .footer-right
      %p
        = t 'copy.footer.developed'
        %a{:href => "#"}
          = t 'copy.footer.zaznova'
      %a#toTop{:href => "#", :style => "display: block;"}
        %span#toTopHover{:style => "opacity: 1;"}
    .clearfix
