.banner.text-center
  .container
    .banner-info
      %h1
        %span let us make
        your lives easier
      %p We specialize in crafting awesome ideas for web, mobile and beyond.
      %label.page-scroll
        %a.big-btn.scroll{:href => "#work1"}
          %span
