#contact.contact
  .container
    .head-one.text-center
      %h2 contact
      %span
    .contact-grids
      .col-md-12.contact-form
        %p Want to contact us now? Just drop us a line below.
        %form
          %textarea Leave us a message...
          %input{:type => "text", :value => "Your@mail.com"}/
          %input{:type => "submit", :value => "Send"}/
      .clearfix
