#contact.contact
  .container
    .head-one.text-center
      %h2
        = t 'copy.contact.head'
      %span
    .contact-grids
      .col-md-12.contact-form
        %p
          = t 'copy.contact.description'
        %form
          %textarea Leave us a message...
          %input{:type => "text", :value => "Your@mail.com"}/
          %input{:type => "submit", :value => "Send"}/
      .clearfix
