#team.team
  .container
    .head-one.text-center.team-head
      %h2 Team
      %span
      %p We are a hard working group, who's aim is to listen to your problems and to come up with the best solution possible. We follow the lates trends on the web to create custom talierd niche websites.
    / --team-members--
    .team-members
      .col-md-3
        .team-member.text-center
          = image_tag("t1.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.github{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .col-md-3
        .team-member.text-center
          = image_tag("t1.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.github{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .col-md-3
        .team-member.text-center
          = image_tag("t1.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.github{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .col-md-3
        .team-member.text-center
          = image_tag("t1.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.github{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .clearfix
