<!DOCTYPE html>
<html>
<head>
  <title>Zaznova</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  </script>
</head>
<body>

  <%= yield %>

</body>
<%= javascript_include_tag 'application' %>
</html>
